<!DOCTYPE html>
html(lang="zh_CN")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    title Document
  body
    #blog
      app
              
    script(src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js")
    script(src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js")
  